alembic==1.16.4
annotated-types==0.7.0
anyio==4.12.1
asyncpg==0.30.0
black==25.1.0
click==8.2.1
colorama==0.4.6
fastapi==0.128.0
h11==0.16.0
idna==3.11
Mako==1.3.10
MarkupSafe==3.0.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pycodestyle==2.14.0
pydantic==2.12.5
pydantic-settings==2.10.1
pydantic-core==2.41.5
python-dotenv==1.1.1
pydantic[email]==2.3.0
sniffio==1.3.1
SQLAlchemy==2.0.42
starlette==0.47.2
typing-inspection==0.4.2
typing-extensions==4.15.0
uvicorn==0.35.0
pyjwt==2.10.1
pwdlib==0.3.0
pyjwt[crypto]==2.10.1
pathlib==1.0.1
python-multipart==0.0.21
pwdlib[argon2]==0.3.0
starlette==0.50.0
annotated-doc==0.0.4